Lab_7_1/src/main/resources/input.dtd

<!ELEMENT Company (Department*)>
        <!ELEMENT Department (Worker*)>
        <!ELEMENT Worker (#PCDATA)>
        <!ATTLIST Department
                id ID #REQUIRED
                name CDATA #REQUIRED
                >
        <!ATTLIST Worker
                id ID #REQUIRED
                name CDATA #REQUIRED
                >